/*tout*/
body{
    margin: 0;
}

/*nav*/

nav {
    background-color: black;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px; 
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

nav img{
    width: 105px;
    /*inverser les couleurs logo*/
      filter: invert(100%);
}

a{
    color: white;
    text-decoration: none;
}

.menu-horizontal {
    display: flex;
 /* supprime  puces */
        list-style-type: none; 
    padding: 0;
    margin: 0;       
    gap: 20px;    
}

